body {
	color: #000;
	background-color: #fff;
	font-size: 16px;
	font-family: sans-serif;
	max-width: 900px;
	margin: 0 auto;
	padding: 5px;
}

a {
	color: #000;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #222;
		color: #fff;
	}

	a {
		color: #fff;
	}
}

header {
	display: flex;
	gap: 20px;
	align-items: center;
	margin-bottom: 25px;
	border-bottom: 1px solid gray;
	overflow-wrap: break-word;
	word-break: break-all;
	hyphens: auto;
}

header img {
	max-height: 80px;
}

header h1 {
	margin: 22px 0 0 0;
}

div#navbar {
	text-align: right;
}

div#navbar a.logout {
	white-space: nowrap;
	border: 1px solid silver;
	border-radius: 5px;
	margin: 0;
	margin-left: 5px;
	padding: 5px;
	display: inline-block;
	color: red;
	mix-blend-mode: normal;
}

div#navbar a:hover {
	opacity: 0.7;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 10px;
	align-items: center;
	margin: 30px 0;
}

a[role="button"], button {
	margin: 20px 0;
	display: block;
	padding: 15px;
	border: 1px solid gray;
	border-radius: 10px;
	text-align: center;
	flex-grow: 1;
	background: transparent;
	color: white;
	mix-blend-mode: difference;
}

a[role="button"]:hover, button:hover {
	background-color: #88888833;
}

.red {
	border: 1px solid red !important;
}

input, select {
	display: block;
	padding: 4px 6px;
	border: 1px solid #888;
	border-radius: 4px;
}

input[readonly] {
	background-color: #ddd;
}

button {
	grid-column-start: 2;
}

.grid {
	display: grid;
	column-gap: 10px;
	row-gap: 15px;
}

.grid-col-2 {
	grid-template-columns: repeat(2, auto);
}

.grid-col-2 h3 {
	grid-column-end: span 2;
}

.grid-col-4 {
	grid-template-columns: repeat(4, auto);
}

.grid-col-5 {
	grid-template-columns: repeat(5, auto);
}

.grid .head {
	font-weight: bold;
	border-bottom: 1px solid gray;
}

.grid .no-data {
	grid-column-end: span  4;
	text-align: center;
	padding: 15px;
}

form {
	display: grid;
	grid-template-columns: 1fr 4fr;
	column-gap: 5px;
	row-gap: 25px;
	align-items: center;
}

form h3 {
	grid-column-end: span 2;
}

pre {
	font-size: smaller;
	padding: 15px;
	border: 1px dashed silver;
	border-radius: 10px;
}
