{% extends "layout.html" %}
{% block body %}
<main class=accounts id=all-accounts>
	<div class=head>Date</div>
	<div class=head>ID</div>
	<div class=head>Org</div>
	<div class=head>Status</div>
	<div class=head>Action</div>

	{%- for user in users %}
	<div>{{ user.requested }}</div>
	<div>{{ user.login }}</div>
	<div>{{ user.login }}</div>
	<div>{{ user.status.name }}</div>
	<div>
		{% if user.status.name == 'invited' %}
		<a href="/invite_link/{{ user.login }}" class="material-symbols-outlined">share</a>
		{% endif %}
	</div>
	{% else %}
	<div class=no-data>No account requests.</div>
	{% endfor %}
</main>
{% endblock %}
