{% extends "layout.html" %}
{% block body %}
<nav id=actions>
	<a role=button href=/service_account>{{ i18n.service_account.header }}</a>
	<a role=button href=/user_account>{{ i18n.user_account.header }}</a>
	<a role=button href=/invite_user>{{ i18n.user_invite.header }}</a>
</nav>

<main id=accounts> 
	<div class=head>Date</div>
	<div class=head>ID</div>
	<div class=head>Status</div>
	<div class=head>Action</div>

	{%- for user in users %}
	<div>{{ user.requested }}</div>
	<div>{{ user.login }}</div>
	<div>{{ user.status.name }}</div>
	<div></div>
	{% else %}
	<div class=no-data>No account requests.</div>
	{% endfor %}
</main>
{% endblock %}
