<!doctype html>
<html>
	<head>
		<title>Login</title>
		<meta name=viewport content="width=device-width, initial-scale=1">
		<link type=text/css rel=stylesheet href={{ url_for('static', filename='style.css') }} />
		<script type=application/javascript src={{ url_for('static', filename='func.js') }}></script>

		<!-- TODO: Use local version -->
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100" rel="stylesheet" />
	</head>
	<body>
		<div id=navbar>
			{% if user %}
			<span class=user>{{ user }}</span>
			|
			<a href=/>
			{{ organizational_unit }}
			</a>
			{% endif %}
			{% if super_admin %}
			|
			<a href=/admin>
			Admin
			</a>
			{% endif %}
			{% if user %}
			<a role=button href=/logout class=logout>
				Logout
			</a>
			{% endif %}
		</div>
		<header>
			<a href=/><img src="{{ url_for('static', filename='logo.png') }}" /></a>
			<h1>{{ i18n.user_management }}</h1>
		</header>
		{% block body %}{% endblock %}
	</body>
</html>
