{% extends "layout.html" %}
{% block body %}
<h2>{{ i18n.service_account.header }}</h2>
<form action="/service_account" method="POST">
	<input type=hidden name=csrf_token value="{{ csrf_token }}" />

	<label for=login>{{ i18n.service_account.login }}</label>
	<input type="text" name="login" placeholder="{{ i18n.service_account.login }}" autofocus required />
	<label for=management_login>{{ i18n.service_account.management_login }}</label>
	<input type="text" name="management_login" value="{{ user }}" required />
	<label for=password>{{ i18n.service_account.password }}</label>
	<input type="password" name="password" placeholder="{{ i18n.service_account.password }}" required />
	<label for=password_confirm>{{ i18n.service_account.password_confirm }}</label>
	<input type="password" name="password_confirm" placeholder="{{ i18n.service_account.password_confirm }}" required />

	<button type=submit>{{ i18n.service_account.create }}</button>
</form>
{% endblock %}
