{% extends "layout.html" %}
{% block body %}
<h2>{{ i18n.user_account.header }}</h2>

{% if created %}
A user account has been created.

{% else %}
<p>
A potential conflict between user accounts has been detected.
The creation request has been submitted to the data center for review.
The request will be checked and the account will be created.
</p>
<p>
You will be notified once the request has been processen.
</p>
{% endif %}

{% if user %}
<a href=/ role=button>Go back</a>
{% endif %}

{% endblock %}
